controllers/__pycache__/controller_rooms.cpython-312.pyc
controllers/__pycache__/controllers_partida.cpython-312.pyc
routes/__pycache__/routes_matches.cpython-312.pyc
routes/__pycache__/routes_users.cpython-312.pyc
controllers/__pycache__/controller_rooms.cpython-312.pyc
controllers/__pycache__/controllers_partida.cpython-312.pyc
